<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/vue.js" type="text/javascript"></script>
</head>

<body>
    <fieldset id="app">
        <legend>vue 获取提交数据并获取数据</legend>
        <div>
            <h3>最近提交数据</h3>
            <template v-for="branch in branches">
                <input type="radio" :id="branch" :value="branch" name="branch" v-model="currentBranch" />
                <label :for="branch">{{branch}}</label>
            </template>
            <div>当前提交者：VueJS/vue@ {{currentBranch}}</div>
            <ul>
                <li v-for="record in commits">
                    <a :href="record.html_url" target="_blank" class="commit">{{ record.sha.slice(0, 7) }}</a> - <span class="message">{{ record.commit.message | truncate }}</span>
                    <br /> by <span class="author"><a :href="record.author.html_url" target="_blank">{{ record.commit.author.name }}</a></span> at <span class="date">{{ record.commit.author.date | formatDate }}</span>
                </li>
            </ul>
        </div>
    </fieldset>
    <script type="text/javascript">
    var apiURL = 'https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha='

    var vm = new Vue({
        el: "#app",
        data: {
            branches: ['master', 'dev'],
            currentBranch: 'master',
            commits: null
        },
        filters: {
            truncate: function(v) {
                var newline = v.indexOf('\n')
                return newline > 0 ? v.slice(0, newline) : v
            },
            formatDate: function(v) {
                return v.replace(/T|Z/g, ' ')
            }
        },
        created: function() {
            // 生命周期用于绘制组件获取数据等
            this.fetchData()
        },
        watch: {
            // 监听值得变化
            currentBranch: 'fetchData'
        },
        methods: {
            fetchData: function() {
                var xhr = new XMLHttpRequest()
                var self = this
                xhr.open('GET', apiURL + self.currentBranch)
                xhr.onload = function() {
                    self.commits = JSON.parse(xhr.responseText)
                    console.log(self.commits[0].html_url)
                }
                xhr.send();
            }
        }


    })
    </script>
</body>

</html>
